/* This file imports all your scss partials to be compiled into one 
stylesheet, which you can attach to your html

All the files that are prefixed with an underscore "_name-of-file.scss" are
called partials - meaning that their css isn't compiled unless its imported
into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout
your styles. You can store things like colours, font-stacks, or any css value
you think you might want to reuse
SCSS uses the "$" to declare variables. */
/* When adding arguments into a mixin, they must be used within the mixin code*/
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 17, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
body {
  background: rgba(0, 0, 0, 0) url("../img/butchery-image.jpg") no-repeat center top;
  background-size: cover; }

/* line 26, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 3rem; }

/* line 36, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
h2 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-align: center; }

/* line 44, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
h3 {
  font-size: 1rem;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

/* line 52, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  /* line 57, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  ul p {
    padding-bottom: 2rem; }

/* line 62, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
li {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.4rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  display: inline-block; }
  /* line 14, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/mixins */
  li a {
    text-decoration: none;
    color: #fff; }
  /* line 19, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/mixins */
  li i {
    font-size: 3.5rem; }
    /* line 21, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/mixins */
    li i:hover {
      color: #BF4545;
      transition-duration: 0.3s; }
  /* line 65, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  li i {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s; }
    /* line 39, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/mixins */
    li i:hover {
      webkit-transform: translateY(-10px) scale(1.5) rotate(12deg);
      -webkit-transform: translateY(-10px) scale(1.2) rotate(15deg);
          -ms-transform: translateY(-10px) scale(1.2) rotate(15deg);
              transform: translateY(-10px) scale(1.2) rotate(15deg); }

/* line 70, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
.icon-section {
  padding: 3rem 4rem; }

/* line 74, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
.small-border {
  display: block;
  width: 30px;
  height: 3.5px;
  background: #fff;
  margin: 0 auto;
  margin-top: -5px;
  margin-bottom: 10px; }

@media only screen and (min-width: 40em) {
  /* line 87, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  h1 {
    font-size: 2.2rem;
    letter-spacing: 9px; }

  /* line 92, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  h2 {
    font-size: 1.1rem; }

  /* line 96, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  .about {
    padding: 2rem;
    width: 50%;
    float: left; }
 }

@media only screen and (min-width: 60em) {
  /* line 105, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  .about {
    width: 40%; }

  /* line 109, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  ul {
    margin-left: 15%; }
 }

@media only screen and (min-width: 80em) {
  /* line 116, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  h1 {
    padding-top: 5rem; }

  /* line 120, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  h2 {
    padding-bottom: 3rem; }

  /* line 124, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  .about {
    width: 25%;
    float: left; }

  /* line 129, /Users/sarahbootsma/Documents/Graphic Design Yr 3 Sm 2/Web Development V/exercise-2-scss/scss/components/main */
  ul {
    margin: 0; }
 }
