// Variables
/* are placeholders for storing information that you want to reuse throughout
your styles. You can store things like colours, font-stacks, or any css value
you think you might want to reuse
SCSS uses the "$" to declare variables. */

//Colors
$inverted: #fff;
$icon: #BF4545;

//Font Stacks
$montserrat: 'Montserrat', sans-serif;
$opensans: 'Open Sans', sans-serif;