// Mixins

/* When adding arguments into a mixin, they must be used within the mixin code*/

@mixin icons($inverted, $icon){
	color: $inverted;
	font-family: $opensans;
	text-align: center;
	line-height: 1.4rem;
	font-size: .8rem;
	letter-spacing: .5px;
	display: inline-block;
	
	a{
		text-decoration: none;
		color: #fff;
	}

	i{
		font-size: 3.5rem;
		&:hover{
			color: $icon;
			transition-duration: 0.3s;
		}
	}
}

@mixin hover{
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	
	&:hover{
	    webkit-transform: translateY(-10px) scale(1.5) rotate(12deg);
		transform: translateY(-10px) scale(1.2) rotate(15deg);
	}
}